.hero {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  object-fit: contain;
  padding-top: 130px;
  padding-left: 500px;
  padding-right: 500px;
  /* padding-bottom: 450px; */
}

.hero-container > h1 {
  color: #e8e8e8;
  font-size: 36px;
  text-align: left;
  align-items: left;
}

.hero-container > h2 {
  color: #cc7a00;
  font-size: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* align-items: left; */
}

.hero-container > h3 {
  color: white;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-container > p {
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {

  .hero-container > h1 {
    font-size: 50px;
    margin-top: 150px;
  }

}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    display: flex;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-container > h1 {
    font-size: 24px;
    text-align: left;
    align-items: left;
    margin-top: 10px;
  }

  .hero-container > h2 {
    font-size: 42px;
    margin-top: 10px;
  }

  .hero-container > p{
    font-size: 20px;
  }

  .fab-fa-github {
    background-color: transparent;
    font-size: 1.8rem;

  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn{
    width: 100%;
  }

}

